body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.orta {
    background-color: rgb(59, 59, 59);
    padding: 60px;
    border: 2px;
    border-radius: 10px;
}

.resim {
    width: 100px;
    height: 100px;
    margin-left: 100px;
    border-radius: 50%;
    overflow: hidden;

}

.resim img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.medium {
    text-align: center;
    color: white;
}

.green {
    margin-top: -10px;
    color: greenyellow;
}

.links .link {
    display: block;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    background-color: rgb(43, 43, 43);
    padding: 10px;
    border-radius: 10px;
}